<html>
<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>Contact mail</title>
</head>

<body>
    <img alt="Portfolio Logo" src="https://joantolos.herokuapp.com/resources/static/portfolio.png" align="right">
    <span style="font-family: Miriam; color: rgb(141, 142, 144); font-weight: bold;">PORTFOLIO</span><br>
    <big style="color: rgb(2, 122, 175);">
        <big><big>
            <span style="font-family: Helvetica,Arial,sans-serif; font-weight: bold;">Portfolio: Contact Mail</span>
        </big></big>
    </big></br>
    <hr style="width: 100%; height: 1px;font-family: Helvetica,Arial,sans-serif;">
    
    <span style="font-family: Miriam; color: black;">
        This is some contact message posted on the Portfolio site.
    </span></br></br>
    <p></p>
    <p></p>

    <span style="font-family: Miriam; color: black;">
        <b>Name:</b> #userName
    </span></br></br>
    <p></p>
    
    <span style="font-family: Miriam; color: black;">
        <b>E-Mail:</b> #email
    </span></br></br>
    <p></p>
    
    <span style="font-family: Miriam; color: black;">
        <b>Phone:</b> #phone
    </span></br></br>
    <p></p>
    
    <span style="font-family: Miriam; color: black;">
        <b>Message:</b> #message
    </span></br></br>
    <p></p>
    <p></p>
    
    <span style="font-family: Miriam; color: black;">
        Greetings.
    </span>

    <br><br>
    <table style="text-align: left; width: 100%; background-color:#027AAF; border-collapse:collapse;color:white;font-family: Helvetica,Arial,sans-serif;">
        <tbody>
        <tr>
            <td align = "center">
                Portfolio - Mail footer
            </td>
        </tr>
        </tbody>
    </table>
    <br><br>
</body>
</html>